.total-productos{
    height: 130vh;
    flex:75%;
}

#pantallaDividida{
    padding: 50px;
    display: flex;
    height: 100%;
}

.resumen-compra{
    margin-left: 50px;
    background-position: center;
flex:25%;

}


button{
    padding: 0px;
    border: none;
    flex: 1;
      min-height: 100%;
}

.container{
    padding: 20px;
}


.button-izq{
    position: absolute;
    top: 620px;
    right: 10px;
}



.button-container{
    display: flex;
    align-items: center;
}

.button-container .form-control{
    max-width: 80px;
    text-align: center;
    display: inline-block;
    margin: 0px 5px;
}

#table-prod .form-control{
    width: auto;
    display: inline-block;
}

.cart-qty-plus,
.cart-qty-minus{
    width: 38px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.cart-qty-plus:hover,
.cart-qty-minus:hover{
    background-color: #5161ce;
    color: #fff;
}

.img-product{
    width: 60px;
    height: 60px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

