<div class="container">
  <h2 class="mt-3"><i class="fa-solid fa-cart-shopping"></i> Carrito de compras</h2>
  <div class="row">
    <div class="col col-12 col-md-12 col-lg-8 col-xl-9">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Imagen</th>
              <th class="text-center">Producto</th>
              <th class="text-center">Cantidad</th>
              <th class="text-center">Precio</th>
              <th class="text-center">Total</th>
              <th class="text-center">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of detProd">
              <td class="text-center">
                <img
                  src=""
                  alt=""
                  class="img-product"
                />
              </td>
              <td class="text-center">{{ p.nombre }}</td>
              <td class="text-center">
                  <button class="cart-qty-plus" type="button" value="+">
                    +
                  </button>
                  <input

                  type="number"
                  name="qty"
                  class="form-control"
                  style="text-align: center; width: 100%;"
                  [max]="p.cantidad"
                  min="1"
                  [value]="p.cantidadAgregada"
                />
                  <button class="cart-qty-minus" style="display: inline;" type="button" value="+">
                    -
                  </button>
              </td>
              <td class="text-center">
                <input
                  type="text"
                  id="precio"
                  value="72"
                  class="price form-control w-100"
                  disabled
                />
              </td>
              <td class="text-center">
                $
                <span id="amount" class="amount">0</span>
              </td>
              <td class="text-center">
                <a href="#" (click)="eliminarProd(p.id)"><i class="fa-solid fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col col-12 col-md-12 col-lg-4 col-xl-3">
      <div class="card text-center mb-3" style="padding: 10px">
        <div class="card-body">
          <h2>Resumen de compra</h2>
          <hr />
          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
          </ul>
          <hr />
          <h3 style="text-align: left">Total:</h3>
          <a href="#" class="btn btn-primary">Pagar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="button-izq">
    <button class="btn btn-primary p-3" type="submit" routerLink="/menu_comprador">
      <i class="fa-solid fa-arrow-left"></i> Continuar comprando
    </button>
  </div>
</div>
