<div class="container">
    <div class="login__content">
        <img src="assets/images/antojos.jpg" alt="login image" class="login__img">

        <form action="" class="login__form">
            <img src="assets/images/logo-uaantojos.png">

            <div>
                <div class="login__inputs">
                    <div>
                        <label for="input-email" class="login__label"><b>Usuario</b></label>
                        <input type="email" placeholder="" required class="login__input" id="input-email">
                    </div>

                    <div>
                        <label for="input-pass" class="login__label"><b>Contraseña</b></label>

                        <div class="login__box">
                            <input type="password" placeholder="" required class="login__input" id="input-pass">
                            <i class="ri-eye-off-line login__eye" id="input-icon"></i>
                        </div>
                    </div>

                    <div>
                        <select class="login__select">
                            <option selected>Selecciona...</option>
                            <option value="1">Cliente</option>
                            <option value="2">Usuario</option>
                        </select>
                    </div>
                </div>

            </div>

            <div>
                <div class="login__buttons">
                    <button class="login__button">Ingresar</button>
                    <button class="login__button">Registrarme</button>
                </div>


            </div>
        </form>
    </div>
</div>
