<div class="content">
    <br>
    <h1 style="color:#00056D;">¿Tienes antojo dentro de la UAA?</h1>
    <br>
    <div class="texto">
       <p>
        UAAntojos es una plataforma creada para que puedas vender o consumir de algún producto de grado alimenticio dentro de la Universidad, priorizando la agilidad de las compras/ventas y mejorando la calidad del servicio.
    </p>
    </div>
   <br><br>
    <button type="button" style="color:#00056D; border-color: #00056D;" class="btn btn-light">Ingresar</button>
</div>
