<div class="container">
    <h2>Vendedores</h2>
    <div class="input-group rounded">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Buscador"
        aria-label="Search"
        aria-describedby="search-addon"
        id="termino"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
    </div>
    <div class="row justify-content-center">
      <div class="col col-9 col-sm-6 col-lg-4 col-xl-3 my-4" *ngFor="let vend of mostrarVendedores">
        <div class="card">
          <div class="card-header">
              <h5 class="card-title">{{vend.nombreComercial}}</h5>
          </div>
          <div class="card-body">
              <p class="card-text">Encargado: {{vend.nombre}}</p>
              <p class="card-text">{{vend.correo}}</p>
              <ul>
                  <li>Campus: {{vend.direccion.campus}}</li>
                  <li>Edificio: {{vend.direccion.edificio}}</li>
                  <li>Salón: {{vend.direccion.salon}}</li>
              </ul>
              <a routerLink="/vendedor/{{vend.id}}" class="btn btn-primary">Ver prodcutos</a>
          </div>
        </div>
      </div>
    </div>
    <div class="button-izq">
      <button class="btn btn-primary p-3" type="submit" routerLink="/menu_comprador">
        <i class="fa-solid fa-arrow-left"></i> Regresar
      </button>
    </div>
</div>
