<div class="container-sm" style="padding: 20px; width: 50%;margin: 0 auto; ;">
    <h2>Vendedores</h2>
    <table class="table table-striped">
        <tbody>
            <tr>
                <div class="card" style="max-width: 600px;">
                    <div class="card-header">
                        <h5 class="card-title">Nombre del negocio</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Descripcion del negocio</p>
                        <ul>
                            <li>Producto 1</li>
                            <li>Producto 2</li>
                            <li>Producto 3</li>
                        </ul>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </tr>
            <tr>
                <div class="card" style="max-width: 600px;">
                    <div class="card-header">
                        <h5 class="card-title">Nombre del negocio</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Descripcion del negocio</p>
                        <ul>
                            <li>Producto 1</li>
                            <li>Producto 2</li>
                            <li>Producto 3</li>
                        </ul>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>
</div>
