<div class="container-general">
    <h2 class="text-center my-2">¡Bienvenido <b>Vendedor!</b></h2>
    <div class="container">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <button class="col" routerLink="/pedidos">
                        <div class="card">
                            <img src="assets/images/ventas.png" alt="Mapas" class="image">
                            <div class="overlay">Pedidos</div>
                        </div>
                    </button>
                </div>
                <div class="col">
                    <button class="col" routerLink="/mapa">
                        <div class="card">
                            <img src="assets/images/entrega.png" alt="Mapas" class="image">
                            <div class="overlay">Activo</div>
                        </div>
                    </button>
                </div>
                <div class="col">
                    <button class="col" routerLink="/registro_producto">
                        <div class="card">
                            <img src="assets/images/ubicacion.png" alt="Registrar producto" class="image">
                            <div class="overlay">Cambiar productos</div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
