<div style="padding: 10px;">
  <h1 class="text-center" style="font-size: xx-large;">Vendedor: {{vendedor.nombreComercial}}</h1>
  <div class="row justify-content-center">
    <div *ngFor="let p of productos" class="my-3 col col-9 col-sm-6 col-lg-4 col-xl-3 mb-3 mb-sm-0">
        <div class="card" style="height: 100%;">
          <img src="{{p.imagen}}" class="card-img-top" style="width: 100%; height: 250px; object-fit: cover;" alt="...">
          <div class="card-body">
          <h5 class="card-title text-center">{{p.nombre}}</h5>
          <p class="card-text">{{p.descripcion}}</p>
          </div>
          <ul class="list-group list-group-flush">
          <li class="list-group-item">Cantidad disponible: {{p.cantidad}}</li>
          <li class="list-group-item">Precio: ${{p.precio}}</li>
          </ul>
          <div class="card-body" style="width: 100%;">
              <button [disabled]="p.cantidad<=0" (click)="agregarCarrito(p.id)" class="btn btn-outline-primary justify-content-center" style="width: 100%;"><i class="fa-solid fa-cart-shopping"></i></button>
          </div>
        </div>
    </div>
</div>
<div class="button-izq">
  <button class="btn btn-primary p-3" type="submit" routerLink="/menu_comprador">
    <i class="fa-solid fa-arrow-left"></i> Regresar
  </button>
</div>
</div>
